<div ng-show="audioFileExists">
	<img src="{{audioBanner}}" style="width:100%;" ng-if="audioBanner">
	<!--<a class="button button-full button-large button-stable" ng-class="{'ion-play':audioStatus != 2, 'ion-pause':audioStatus == 2}" ng-click="playToggle()">-->
	<a class="button button-full button-large button-stable" ng-click="playerToggle()">
		{{audioTitle}}
		<span ng-if="audioDuration"> - {{audioPosition | secondsToDateTime | date:'mm:ss'}}</span>
		<span ng-if="audioDuration"> / {{audioDuration | secondsToDateTime | date:'mm:ss'}}</span>
	</a>
	<!-- {{Math.floor(Math.round(audioPosition) % 3600 / 60)}}:{{Math.round(audioPosition) % 60}} -->
	<!--<ion-toggle ng-model="data.audioDoPlayNext" toggle-class="toggle-calm" ng-change="alert()" ng-click="alert()">Airplane Mode</ion-toggle>-->

	<div class="fade" ng-if="showPlayer" style="margin-bottom:100px;">
		<div class="button-bar">
			<a class="button button-dark icon ion-ios-rewind" ng-click="seek(-5)"> 5s</a>
			<a class="button button-dark icon ion-ios-play" ng-class="{'ion-play':audioStatus != 2, 'ion-pause':audioStatus == 2}" ng-click="playToggle()"></a>
			<a class="button button-dark icon ion-ios-fastforward" ng-click="seek(5)"> 5s</a>
		</div>

		<div class="item range fade" ng-if="audioDuration > -1 && audioPosition > -1">
			<input type="range" name="volume" min="0" ng-change="sliderChange()"
				max="{{ audioDuration }}" ng-model="data.sliderPosition">
		</div>

		<br>
		<ion-toggle ng-if="!isLastAudioPlayer" ng-model="data.audioDoPlayNext" ng-checked="data.audioDoPlayNext">Play next automatically</ion-toggle>

		<div ng-if="false">
			<button class="button">audioFilePath: {{audioFilePath}}</button>
			<button class="button">audioStatus: {{audioStatus}}</button>
			<button class="button">audioDuration: {{audioDuration}}</button>
			<button class="button">audioPosition: {{audioPosition}}</button>
			<button class="button">data.sliderPosition: {{data.sliderPosition}}</button>
			<button class="button">data.audioDoPlayNext: {{data.audioDoPlayNext}}</button>
		</div>
	</div>
</div>