<div>
	<a class="button button-full button-large button-balanced" ng-class="{'ion-play':audioStatus != 2, 'ion-pause':audioStatus == 2}" ng-click="playToggle(audioFilePath)"> {{audioTitle}} - {{Math.floor(Math.round(audioPosition) % 3600 / 60)}}:{{Math.round(audioPosition) % 60}} [{{audioPosition | secondsToDateTime | date:'mm:ss'}}]</a>

	<div ng-if="audioStatus == 2">
		<div class="button-bar">
			<a class="button button-outline button-dark icon ion-ios-rewind" ng-click="seek(-5)"> 5s</a>
			<a class="button button-outline button-dark icon ion-ios-fastforward" ng-click="seek(5)"> 5s</a>
		</div>

		<div class="item range" ng-if="audioStatus != 0 && audioDuration > -1 && audioPosition > -1">
			<input type="range" name="volume" min="0" ng-change="sliderChange()"
				max="{{ audioDuration }}" ng-model="data.sliderPosition">
		</div>

		<button class="button">audioFilePath: {{audioFilePath}}</button>
		<button class="button">audioStatus: {{audioStatus}}</button>
		<button class="button">audioDuration: {{audioDuration}}</button>
		<button class="button">audioPosition: {{audioPosition}}</button>
		<button class="button">data.sliderPosition: {{data.sliderPosition}}</button>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
</div>