<ion-view>
	<ion-content class="padding has-header">
		<img src="img/freedom.jpg" style="width:100%;">
		<audio-player audio="audio/relaxation.mp3" title="Relaxation" ></audio-player>
		<audio-player audio="audio/healing-words.mp3" title="Healing Words" ></audio-player>
		<audio-player audio="audio/inner-transformation.mp3" title="Inner Transformation"></audio-player>
		<audio-player audio="audio/tillat-tillit.mp3" title="Tillåt tillit" ></audio-player>
		<audio-player audio="audio/slapp-huvudvark.mp3" title="Släpp huvudvärk" ></audio-player>
		<!--<audio-player audio="audio/kiirtan.mp3" title="Kiirtan (seek problem)" ></audio-player>
		<audio-player audio="audio/countdown.mp3" title="Countdown" /></audio-player>-->
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</ion-content>
</ion-view>
