<ion-view>
	<ion-content class="padding has-header" style="background-color:#e395a2;">
		<button class="button">xp.points: {{xp.points}}</button>
		
		<!-- named weekdays -->
		<div class="row">
			<div class="col" ng-repeat="day in ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'];">
				<button class="button button-small button-full button-positive">{{day}}</button>
			</div>
		</div>

		<!-- weeks -->
		<div class="row" ng-repeat="week in weeks">
			<div class="col" ng-repeat="day in week">
				<button class="button button-full button-small ion-icon" ng-class="{'button-outline button-dark':day.today, 'button-outline':day.future}" ngz-class="{'ion-thumbsup':day.score == 2, 'ion-android-star-outline':day.score == 3, 'ion-happy-outline':day.score == 4, 'ion-android-favorite-outline button-balanced':day.score == 5, 'button-positive':day.today}">
					<i ng-if="day.score > 2" class="ion-happy-outline"></i>
					<i ng-if="day.score > 3" class="ion-happy-outline"></i>
					<i ng-if="day.score > 4" class="ion-happy-outline"></i>
					{{day.moment.format("ddd D")}}
				</button>
			</div>
		</div>
		
		<!-- this week -->
		<div class="row" ng-if="false">
			<div class="col" ng-repeat="day in [1, 2, 3, 4, 5, 6, 7];">
				<button class="button button-full button-small" ng-class="{'button-outline button-dark ion-happy ion-icon':day==now.day(), 'button-clear':day>now.day()}">{{day}}</button>
			</div>
		</div>
		
		<button class="button button-full">{{test}}</button>

	</ion-content>
</ion-view>
