<ion-view>
	<ion-content class="padding has-header">
		<audio-player file="audio/inner-transformation.mp3" title="Inner Transformation" ></audio-player>
		<!--<audio-player file="audio/relaxation.mp3" title="Relaxation" ></audio-player>
		<audio-player file="audio/tillat-tillit.mp3" title="Tillåt tillit" ></audio-player>
		<audio-player file="audio/kiirtan.mp3" title="Kiirtan (seek problem)" ></audio-player>
		<audio-player file="audio/countdown.mp3" title="Countdown" /></audio-player>-->
	</ion-content>
</ion-view>
